*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.7;
  font-size: 1rem;
}

.table-wrapper {
  overflow-x: auto;
  padding: 0.5rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max-content;
  margin: auto;
}

.button {
  background-color: #000;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border: none;
  font-family: monospace;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  line-height: normal;
  color: #fff;
  cursor: pointer;

  &:hover, &:focus-visible {
    outline: 1px solid #000;
    outline-offset: 0;
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

h1 {
  font-size: 1.75rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  text-align: left;
  
  [data-align="center"] {
    text-align: center;
  }

  [data-align="right"] {
    text-align: right;
  }

  [data-align="top"] {
    vertical-align: top;
  }
}

thead {
  border-bottom: 1px solid;
}

th, td {
  padding: 0.5rem 0.75rem;
}

th {
  text-wrap: nowrap;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

form {
  display: contents;
}

td input, td select {
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  font-family: monospace;

  &:focus {
    outline: none;
  }
}

td:has(input, select) {
  padding: 0;
}

.calendar-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-weekdays, .calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-weekdays > div {
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
}

.calendar-day {
  background: #fff;
  border: 1px solid;
  padding: 0.5rem;
}

.calendar-day-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shift {
  background-color: #fafafa;
  font-size: 0.875rem;
  padding: 0.375rem;
  border-left: 1px solid;
  text-decoration: none;
  color: inherit;

  &:hover, &:focus-visible {
    outline: 1px solid #000;
    outline-offset: 0;
  }
}

.calendar-day.empty {
  background: #f4f4f4;
  cursor: not-allowed;
}

.shift-employee-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.shift-employee-list:has(#EmployeeIdToAdd1 option[value=""]:checked) #EmployeeIdToAdd2 {
  display: none;
}

.search-year {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.5rem;
}

#SearchYear {
  font-family: monospace;
  font-size: 0.875rem;
  border: 1px solid;
  min-width: 10ch;
}